{% import 'ent/macros.twig' as ent %}

<div class="show-for-large">
    {% block secondary_menu_row %}
        <div class="header__secondary-menu-row">
            <div class="row">
                <div class="header__secondary-menu-column small-12 columns">
                    {% block secondary_menu %}
                        {{ ent.locales_list(locales) }}
                        {{ social_links }}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
    <div class="header__logo-row" data-fixed="large">
        <div class="row">
            <div class="header__logo-column small-12 columns">
                <a href="{{ site.link }}"><h1 class="logo">{{ site.name }}</h1></a>                
                <div class="header__menu">
                    {% block menu %}
                        {{ ent.menu(main_menu, 'menu header__menu') }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
